SUBSYSTEM=="tty", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="047a", SYMLINK+="bwio"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0658", ATTRS{idProduct}=="0200", SYMLINK+="zwave"
